.menu{
    width: 28%;
    background-color: $bgColor;
    padding: 32px 0 0 0;
    .link{
        & a{
            color: $textColor;
            padding-left: 32px;
        }
        & a:hover{
            color: $mainColor;
            border-left: 4px solid $mainColor;
        }
    }
}
.logo{
    padding-left: 32px;
    padding-bottom: 32px;
}
.user-info{
    padding-left: 32px;
    padding-bottom: 32px;
}
.user-name{
    .email-address{
        color: $secondtextColor;
        font-size: 14px;
    }
}
.user-pgoto{
    width: 40px;
    height: 40px;
}
.link{
    li{
        margin-bottom: 22px;
    }
    li:last-child{
        margin-bottom: 0;
    }
}