.edit-methods{
    padding-top: 13px;
    margin-bottom: 32px;
    .edit-methods-list{
        background-color: $bgColor;
        border-top: 1px solid $secondbgColor;
        border-bottom: 1px solid $secondbgColor;
        padding: 18px 24px 19px 25px;
        a{
            color: $textColor;
            display: flex;
        }
        a:hover{
            color: $mainColor;
        }
    }
}
.text{
    height: 263px;
    color: $secondbgColor;
}
.tab-content{
    margin-bottom: 32px;
}
// .form-control::placeholder{
//     color: red;
//     opacity: 1; /* Firefox */
// }
// padding: 0 32px 16px 25px;;
